# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables and binaries
bin/
obj/

# Documentation
doc/

# Swap and tmp files
*.pb.cc~
*.pb.h~
*.cpp~
*.hpp~
*.cl~
*.swp
*.swo
*.swn
*.swm

# Compiled protobuf files
*.pb.cc
*.pb.h
*.pb.o

# Renders and binary data
scenes/
*.ppm

# Logs
*.log
